body {
   font-family: "Roboto", "sans-serif";
   color: #434455;
   background-color: #ffffff;
   font-size: 16px;

}
ul,
ol {
   list-style: none;  /* Убираем маркеры */
   padding: 0;  /* Убираем отступы */
   margin: 0;  /* Убираем внешние отступы */
}
.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.logo .logo-name {
   color: #2e2f42;
}
.page-nav .link {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.page-nav .link:hover, .page-nav .link:focus {
   color: #404BBF;
}
.page-nav .link:active {
   color: #404BBF;
}
.address {
   font-style: normal;
}
.address-info .contacts {
   color: #434455;
   line-height: 1.5;
   letter-spacing: 0.02em;
}
.address-info .contacts:hover, .address-info .contacts:focus {
   color: #404BBF;
}
.button {
   font-family: "Roboto", sans-serif;
   cursor: pointer;
   background-color: #4D5AE5;
   color: #ffffff;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
}
.button:hover, .button:focus {
   background-color: #404BBF;
}
.page-title {
   font-size: 56px;
   line-height: 1.07;
   font-weight: 700;
   letter-spacing: 0.02em;
   text-align: center;
   color: #ffffff;
}
.section-first {
   background-color: #2E2F42;
}
.header2 {
   font-size: 36px;
   line-height: 40px;
   font-weight: 700;
   text-align: center;
}
.section3 {
   background-color: #f4f4fd;
}
.header3 {
   font-size: 20px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 2%;
}
.text-section {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #434455;
   letter-spacing: 2%;
}
footer {
   background-color: #2E2F42;
}
.text-footer {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #F4F4FD;
   letter-spacing: 2%;
}